body {
    background-color: rgb(19, 18, 17);
}

.inputfield {
    border-radius: 5px;
    height: 25px;
    width: 350px;
    color: grey;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 20px;
    
}

.abutton {
    border-radius: 5px;
    height: auto;
    width: auto;
    background-color:rgb(153, 241, 131);
    font-size: 20px;
}

.elements {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

.container {
    font-family: 'Roboto', sans-serif;
    width: 420px;
    margin-left: 40%;
    background-color: rgb(124, 206, 226);
    padding: 20px 10px 20px 10px;
    border: solid black 1px;

}